<ion-view view-title="Play Game" hide-tabs='true' hide-nav-bar='true' class="play-round game-pane">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <i class="ion-ios-timer-outline"></i>
      </div>
      <div class="col text-right">
        <h1>JMD</h1>
        <h3>7658</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <button class="button button-balanced" ui-sref="tab.dash">
          GAME OVER 
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
