<ion-view view-title="High Score" hide-tabs='true' hide-nav-bar='true' class="high-score game-pane">
  <ion-content class="padding">
    <div class="row text-center">
      <div class="col col-50 col-offset-25">
        <img ng-src="img/high_score.jpg" style="max-width: 50vw">
      </div>
    </div>
    <div class="row text-center">
      <div class="col col-80 col-offset-10">
        <h1>JMD 30012</h1>
        <h4>LAST SCORE: 985</h4>
        <div class="list card">
          <div class="item item-divider">
            Top Scores 3/21/2016 
          </div>
          <div class="item item-text-wrap">
            SYG 45016
          </div>
          <div class="item item-text-wrap">
            RGD 37500
          </div>
          <div class="item item-text-wrap">
            NND 21110
          </div>
        </div>
      </div>
    </div>
    <div class="padding-vertical">
      <div class="row text-center">
        <div class="col col-40 col-offset-10">
          <button class="button button-balanced" ui-sref="tab.account">
            PLAY AGAIN 
          </button>
        </div>
        <div class="col col-40">
          <button class="button button-balanced">
            MAIN MENU
          </button>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <a class="button button-icon icon ion-share"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
